<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AE Automation Suite" verbose="1">

    <groups>
        <run>
            <exclude name="known-bugs"/>
        </run>
    </groups>

    <test name="Registration Tests">
        <classes>
            <class name="org.aeautomation.tests.RegisterUserTests"/>
        </classes>
    </test>

    <test name="Authentication Tests">
        <classes>
            <class name="org.aeautomation.tests.AuthenticateUserTests"/>
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="org.aeautomation.tests.ProductTests"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="org.aeautomation.tests.CartTests"/>
        </classes>
    </test>

</suite>